
html, body {
    width: 300px;
    background-color: rgb(28, 27, 34);
    color:#eee;
    margin: 0px;
    font-size: 14px;
    font-family: "Arial", sans-serif;
}

#popup-content {
    border-top: 5px solid grey;
}

.title {
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.menu {
    background-color: rgb(35, 34, 43);
    padding: 8px;
}

.menu > .box {
    height: 16px;
    padding: 10px;
    margin: 8px;
    background-color: rgb(28, 27, 34);
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.menu > .box:hover {
    background-color: rgb(92, 92, 106);
}

.menu > .box.activated {
    background-color: rgb(7, 70, 15);
}

.menu > .box.activated:hover {
    background-color: rgb(18, 155, 36);
}

.menu > .box > .under_box {
    background-color: rgb(35, 34, 43);
    background-image: url("../icons/surligner64.png");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    width: 28px;
    height: 28px;
    padding: 3px;
    border: 1px solid rgb(35, 34, 43);
    border-radius: 3px;
    margin: -10px;
}

.menu > .box > .under_box:hover {
    background-color: rgb(92, 92, 106);
}

.menu > .box > .under_box.activated {
    background-color: rgb(7, 70, 15);
}

.menu > .box > .under_box.activated:hover {
    background-color: rgb(18, 155, 36);
}

#infos {
    white-space: pre;
    margin: 8px;
    font-size: 9px;
    height: 22px;
    overflow-y: auto;
}